.treestructure ul,
.treestructure li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.treestructure-invisible {
  display: none;
}
.mat-tree-node .visibleonhover,
.mat-tree-node .visibleonhover {
  display:none;
}
.mat-tree-node:hover .visibleonhover,
.mat-tree-node:hover .visibleonhover,
.mat-tree-node:focus-visible .visibleonhover,
.mat-tree-node:focus-visible .visibleonhover,
.mat-tree-node:active .visibleonhover,
.mat-tree-node:active .visibleonhover  {
  display:inline-block;
}